{{#if checksumIsRW}}
	<a {{bind-attr class=checksumRClass}} style="display:inline" {{action "toggleRightChecksum" "R"}}><i class="fa fa-eye"></i> {{tr 'Read'}}</a>
	<a {{bind-attr class=checksumWClass}} style="display:inline" {{action "toggleRightChecksum" "W"}}><i class="fa fa-pencil"></i> {{tr 'Write'}}</a>
{{/if}}
&nbsp;
