<h1>Statistiques sur les utilisateurs</h1>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Utilisateur</th>
            <th colspan="3">Délais</th>
            <th colspan="3">Délais cumulés</th>
            <th>Compteurs d'acquittement</th>
        </tr>
        <tr>
            <th></th>
            <th>Résolution</th>
            <th>Acquittement</th>
            <th>Résolution depuis acquittement</th>

            <th>Résolution</th>
            <th>Acquittement</th>
            <th>Résolution depuis acquittement</th>

            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {{#component-eachkey object=controller.users as |scope|}}
            <tr>
                <td>{{scope.__name__}}</td>
                <td>{{hr scope.alarm_solved.last.value unit="s"}}</td>
                <td>{{hr scope.alarm_ack_delay.last.value unit="s"}}</td>
                <td>{{hr scope.alarm_ack_solved.last.value unit="s"}}</td>
                <td>{{hr scope.alarm_solved.sum.value unit="s"}}</td>
                <td>{{hr scope.alarm_ack_delay.sum.value unit="s"}}</td>
                <td>{{hr scope.alarm_ack_solved.sum.value unit="s"}}</td>
                <td>{{hr scope.alarm_ack.total.value}}</td>
            </tr>
        {{/component-eachkey}}
    </tbody>
</table>

<div class="flotchart-container">
    <div class="flotchart-plot-container">
        {{component-flotchart
            options=controller.userChartOptions
            series=controller.userSeries
        }}
    </div>

    <div class="flotchart-legend-container">
    </div>
</div>

<h1>Statistiques sur les événements</h1>

<table class="table table-bordered table-responsive">
    <tbody>
        <tr class="info">
            <th colspan="2">Délais</th>
        </tr>
        <tr>
            <td>Acquittement</td>
            <td>{{hr controller.events.__canopsis__.alarm_ack_delay.last.value unit="s"}}</td>
        </tr>
        <tr>
            <td>Résolution</td>
            <td>{{hr controller.events.__canopsis__.alarm_solved_delay.last.value unit="s"}}</td>
        </tr>
        <tr>
            <td>Résolution avec acquittement</td>
            <td>{{hr controller.events.__canopsis__.alarm_ack_solved_delay.last.value unit="s"}}</td>
        </tr>

        <tr class="info">
            <th colspan="2">Délais cumulés</th>
        </tr>
        <tr>
            <td>Acquittement</td>
            <td>{{hr controller.events.__canopsis__.alarm_ack_delay.sum.value unit="s"}}</td>
        </tr>
        <tr>
            <td>Résolution</td>
            <td>{{hr controller.events.__canopsis__.alarm_solved_delay.sum.value unit="s"}}</td>
        </tr>
        <tr>
            <td>Résolution avec acquittement</td>
            <td>{{hr controller.events.__canopsis__.alarm_ack_solved_delay.sum.value unit="s"}}</td>
        </tr>
        
        <tr class="info">
            <th colspan="2">Compteurs</th>
        </tr>

        <tr class="success"><td colspan="2">Total</td></tr>
        {{#component-eachkey object=controller.events.__canopsis__.alarm exclude=excludeKeys as |scope|}}
            <tr>
                <td>{{scope.__name__}}</td>
                <td>{{hr scope.value}}</td>
            </tr>
        {{/component-eachkey}}
        <tr class="success"><td colspan="2">Acquittée</td></tr>
        {{#component-eachkey object=controller.events.__canopsis__.alarm_ack exclude=excludeKeys  as |scope|}}
            <tr>
                <td>{{scope.__name__}}</td>
                <td>{{hr scope.value}}</td>
            </tr>
        {{/component-eachkey}}
        <tr class="success"><td colspan="2">Résolue</td></tr>
        {{#component-eachkey object=controller.events.__canopsis__.alarm_solved exclude=excludeKeys  as |scope|}}
            <tr>
                <td>{{scope.__name__}}</td>
                <td>{{hr scope.value}}</td>
            </tr>
        {{/component-eachkey}}
        <tr class="success"><td colspan="2">Résolue avec acquittement</td></tr>
        {{#component-eachkey object=controller.events.__canopsis__.alarm_ack_solved exclude=excludeKeys  as |scope|}}
            <tr>
                <td>{{scope.__name__}}</td>
                <td>{{hr scope.value}}</td>
            </tr>
        {{/component-eachkey}}
    </tbody>
</table>

