<button {{action "transform" "gauge"}} class="btn btn-default"><i class="fa fa-tachometer"></i></button>
<button {{action "transform" "pie"}} class="btn btn-default"><i class="fa fa-pie-chart"></i></button>
<button {{action "transform" "donut"}} class="btn btn-default"><i class="fa fa-dot-circle-o"></i></button>
<button {{action "transform" "progressbar"}} class="btn btn-default"><i class="fa fa-battery-three-quarters"></i></button>
<div {{bind-attr id="uuid"}}></div>
