<button {{action "transform" "gauge"}} class="btn btn-default btn-sm">Gauge</button>
<button {{action "transform" "pie"}} class="btn btn-default btn-sm">Pie</button>
<button {{action "transform" "donut"}} class="btn btn-default btn-sm">Donut</button>
<button {{action "transform" "progressbar"}} class="btn btn-default btn-sm">Progress bar</button>
<div {{bind-attr id="uuid"}}></div>
