{{input class="form-control pull-left" value=moduleName type='text'}}
{{#if showModules}}
    <ul class="list-group" style="position:absolute;z-index:100">
        {{#each modulesElement in modulesElements}}
            <li class="list-group-item">
                <a href="#" {{action 'setModuleName' modules}}>{{modulesElements.moduleName}}</a>
            </li>
        {{/each}}
    </ul>
{{/if}}

{{input class="form-control pull-right" value=mibLabel type='text'}}
{{#if showOids}}
    <ul class="list-group" style="position:absolute;z-index:100">
        {{#each oidElement in oidElements}}
            <li class="list-group-item">
                <a href="#" {{action 'setOid' oidElement}}>{{oidElement.name}}</a>
            </li>
        {{/each}}
    </ul>
{{/if}}

